body
{
    color: azure;
    background-color: #ED1D24;
    font-family: 'Marvel', sans-serif;
}
span
{
    font-size:xx-large;
}
header
{
    text-align: center;
    width: 100%;
    height: 10rem;
    background-color: #ED1D24;
}
img
{
    height: 200px;
    width: 200px;
}
.head-img
{
    display: block;
    margin:0 auto;
    width: 10rem;
    height: 7rem;
}
.menu-nav
{
    text-align: center;
}
h1{
    font-weight: 1500;
}
.main{
    margin: 2rem auto 4rem; 
}
.menu
{
    display: inline;
    padding:0 2rem;
}
p
{
    font-size: x-large;
}
.bottom-container
{
    text-align: center;
    background-color:#ED1D24;
    padding:4rem auto 2rem;
    margin: 2rem auto 0;
    
}
.bottom-container p
{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.fab
{
    color:azure;
    padding: 5px 20px 10px 20px;
}
.fab:hover
{
    color: blue;
}
.btn-default
{
    background-color: #11999e;
    color:#e4f9f5;
}
.btn-default:hover
{
    color:red;
    background-color:#40514e;
}
.none
{
    display: none;
}
.show
{
    display: block;
}
#start
{
    text-align: center;
}   